<!DOCTYPE html>
<html>
    <head>
        <title>HuBMAP AVR Search</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/searchkit/2.0.0/theme.css">
        <link rel="icon" href="/static/favicon.ico">
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div id="assets_url">{{ assets_url }}</div>
        <script>
          var assets_url={{ assets_url }};
        </script>
        <script>
          var display={{ display | tojson }};
        </script>
        <div id="render-react-here">
        </div>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='dist/search.bundle.js') }}"
        ></script>
    </body>
</html>